nav
{
	background-color:#ebe6ed;
	display:inline-block;
	width:101%;
	padding:9px;

}
a
{
	text-decoration:none;
	padding :30px;
	font-size:17px;
	margin:100px;
}
.a1
{
	font-size:20px;
	padding-left:930px;
	
}
.a2
{
	font-size:20px;
	padding-left:100px;
	
}
.a3
{
	font-size:10px;
	padding-left:30px;
}
.f
{
	background-color:#ebe6ed;
	color:black;
	float:left;
	width:100%;
	font-size:15px;
}
.a4
{
	font-size:10px;
	padding-left:10px;
}
.a5
{
	font-size:80px;
	padding-right:200px;
}
.a6
{
	font-size:18px;
	padding-left:20px;
}
.a7
{
	border: 1px #ded8c3 solid;
	width:100%;
	padding-left:10px;
}